::-webkit-scrollbar{
  width: 0px;
  height: 0px;
  background: transparent;
}
body{
  height: 100vh;
  width: 100vw;
  background-color:#000;
  overflow-x:hidden;
  margin:0;
  padding:0;
  font-family:Arial, Helvetica, sans-serif;
}
#nav{
  color:white;
  display:flex;
  justify-content:space-between;
  padding-left:25px;
  padding-right:25px;
}
#page
{
  height: 100vh;
}
#navpart{
  display:flex;
  align-items:center;
  box-sizing: border-box;
  gap:25px;
}
h3{
  padding-top: 25px;
  text-transform:uppercase;
  font-weight:100;
  font-size:large;
}
#main{
  /* //background-color:rgb(9,9,9); */
  color:white;
  text-transform:uppercase;
  font-size:100px;
  line-height:0%;
  padding-left:450px;
  padding-top:60px;
  position:relative;
  z-index:20; 
}
#image{
  position:absolute;
  top:20%;
  left:40%;
  transform:translate(-50%, -50%);
  z-index:5; 
}
#image img{
  position:absolute;
  width:260px;
  height:380px;
  object-fit:cover;
}
#image img:nth-child(1){
  z-index:4;
  transform:translate(0px,0px);
  rotate: 60;
  transform: translate(0px, 0px) rotate(0deg);
}
#image img:nth-child(2){
  z-index:2;
  /* transform:translate(0px, 0px); */
  transform: translate(0px,0px) rotate(40deg);
}
#image img:nth-child(3){
  z-index:3;
  /* transform:translate(0px,0px); */
  transform: translate(0px,0px) rotate(30deg);

}
h3:hover{
    cursor: pointer;
}
#footer{
   color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    text-transform: uppercase;
    font-size: large;
    font-weight: 100;
}
#page1{
  height:100vh;
  width: 100vw;
  background-color: rgb(5, 5, 5);
  display: flex;
  justify-content: center;
  align-items: center;
}
#page2{
  height:100vh;
  width: 100vw;
  background-color: rgb(12, 12, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  gap:25px;
}
#page3{
  height:100vh;
  width: 100vw;
  background-color: rgb(9, 9, 9);
   display: flex;
  justify-content: center;
  align-items: center;
}
#p1
{
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background:linear-gradient(black,rgb(214, 89, 89),royalblue);
}
#p2
{
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background:linear-gradient(rgb(167, 62, 62),white)
}
#page1 h1{
  color: white;
  text-transform: uppercase;
  font-size: 50vh;
  transform: translateX(26%);
}
#page2 img{
  height: 95vh;
  width:5vw;
  object-fit: cover;
  gap: 10px;
}
#text{
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  background-color: black;
}
#ctnt{
  height: 100%;
  width: 30%;

  padding-left: 120px;
  padding-top: 70px;
  word-spacing: 5px;
}
#ctnt h3{
   font-size: 9vh;
}
#ctnt p{
  font-size: 4vh;
}
#photu{
  margin-left: 20%;
  height: 100%;
  width: 50%;
}
#photu img{
  height: 0%;
  width: 65%;
  object-fit: cover;
  padding-left: 15%;
  padding-top: 19%;
  filter: grayscale(100%);
}
#last{
  width:100%;
  min-height:100vh;
  background:#000;
  color:#fff;
  display:flex;
  padding:80px 100px;
  box-sizing:border-box;
  gap:80px;
  font-family:Arial, Helvetica, sans-serif;
}

/* ================= LEFT ================= */

#lef{
  width:45%;
  display:flex;
  flex-direction:column;
  gap:25px;
}

#lef h2{
  font-size:36px;
  font-weight:500;
}

#lef p{
  font-size:14px;
  line-height:1.6;
  color:#aaa;
  max-width:420px;
}

#lef button{
  width:240px;
  padding:18px 20px;
  background:#fff;
  color:#000;
  border:none;
  font-size:20px;
  font-weight:500;
  cursor:pointer;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

#lef pre{
  font-size:13px;
  color:#aaa;
  line-height:1.6;
  font-family:inherit;
}

#lef p:last-child{
  font-size:12px;
  color:#777;
  margin-top:auto;
}

/* ================= RIGHT ================= */

.right{
  width:55%;
  color:#aaa;
}

/* -------- MENU -------- */

.menu{
  border-top:1px solid #222;
}

.item{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:28px 20px;
  border-bottom:1px solid #222;
  cursor:pointer;
  transition:background 0.3s ease, color 0.3s ease;
}

.item span{
  font-size:14px;
  letter-spacing:1px;
}

.item .arrow{
  font-size:18px;
  opacity:0.6;
}

.item:hover{
  background:#2a2a2a;
  color:#fff;
}

/* -------- SOCIALS -------- */

.socials{
  display:flex;
  gap:50px;
  padding:40px 20px;
  border-bottom:1px solid #222;
}

.socials span{
  font-size:18px;
  opacity:0.6;
  cursor:pointer;
  transition:opacity 0.3s ease;
}

.socials span:hover{
  opacity:1;
}

/* -------- CONTACT -------- */

.contact{
  display:flex;
  justify-content:space-between;
  padding:40px 20px;
}

.contact p{
  font-size:12px;
  color:#777;
  margin-bottom:10px;
}

.contact h4{
  font-size:16px;
  font-weight:400;
  color:#fff;
}
