::-webkit-scrollbar{
  width: 0px;
  height: 0px;
  background: transparent;
}
body{
  height: 100vh;
  width: 100vw;
  background-color:#000;
  overflow-x:hidden;
  margin:0;
  padding:0;
  font-family:Arial, Helvetica, sans-serif;
}
#nav{
  color:white;
  display:flex;
  justify-content:space-between;
  padding-left:25px;
  padding-right:25px;
}
#page
{
  height: 100vh;
}
#navpart{
  display:flex;
  align-items:center;
  box-sizing: border-box;
  gap:25px;
}
h3{
  padding-top: 25px;
  text-transform:uppercase;
  font-weight:100;
  font-size:large;
}
#main{
  /* //background-color:rgb(9,9,9); */
  color:white;
  text-transform:uppercase;
  font-size:100px;
  line-height:0%;
  padding-left:450px;
  padding-top:60px;
  position:relative;
  z-index:20; 
}
#image{
  position:absolute;
  top:20%;
  left:40%;
  transform:translate(-50%, -50%);
  z-index:5; 
}
#image img{
  position:absolute;
  width:260px;
  height:380px;
  object-fit:cover;
}
#image img:nth-child(1){
  z-index:4;
  transform:translate(0px,0px);
  rotate: 60;
  transform: translate(0px, 0px) rotate(0deg);
}
#image img:nth-child(2){
  z-index:2;
  /* transform:translate(0px, 0px); */
  transform: translate(0px,0px) rotate(40deg);
}
#image img:nth-child(3){
  z-index:3;
  /* transform:translate(0px,0px); */
  transform: translate(0px,0px) rotate(30deg);

}
h3:hover{
    cursor: pointer;
}
#footer{
   color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    text-transform: uppercase;
    font-size: large;
    font-weight: 100;
}
#page1{
  height:100vh;
  width: 100vw;
  background-color: rgb(5, 5, 5);
  display: flex;
  justify-content: center;
  align-items: center;
}
#page2{
  height:100vh;
  width: 100vw;
  background-color: rgb(12, 12, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  gap:25px;
}
#page3{
  height:100vh;
  width: 100vw;
  background-color: rgb(9, 9, 9);
   display: flex;
  justify-content: center;
  align-items: center;
}
#p1
{
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background:linear-gradient(black,rgb(214, 89, 89),royalblue);
}
#p2
{
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background:linear-gradient(rgb(167, 62, 62),white)
}
#page1 h1{
  color: white;
  text-transform: uppercase;
  font-size: 50vh;
  transform: translateX(26%);
}
#page2 img{
  height: 95vh;
  width:5vw;
  object-fit: cover;
  gap: 10px;
}