#box1{
    height: 200px;
    width:200px;
    background-color: cadetblue;
}
#box2{
    height: 200px;
    width:200px;
    background-color: crimson;
}
#box3{
    height: 200px;
    width:200px;
    background-color: royalblue;
}